@tailwind base;
@tailwind components;
@tailwind utilities;


.ErrorMsg{
  color:#fff;
  background-color: red;
  width: auto;
  border-radius: 10px;
  padding: 1px;
  text-align: center;
  font-size: 10px;
}